In [15]:
import pandas as pd
import numpy as np

In [16]:
data_dict = pd.read_excel("/Users/ashapondicherry/Desktop/Cross Road Analytics Competition/Colts Ticketing Data Dictionary.xlsx")
data_ = pd.read_csv("/Users/ashapondicherry/Desktop/Cross Road Analytics Competition/Cross Road Analytics Competition Dataset.csv", sep = ",", header=0, encoding = "utf-8")
data_

<ipython-input-16-187b0fd06fc9>:2: DtypeWarning: Columns (0,30) have mixed types. Specify dtype option on import or set low_memory=False.
  data_ = pd.read_csv("/Users/ashapondicherry/Desktop/Cross Road Analytics Competition/Cross Road Analytics Competition Dataset.csv", sep = ",", header=0, encoding = "utf-8")

,acct_id,acct_type_desc,event_name,event_date,plan_event_name,comp_name,section_name,row_name,SeatNum,price_code,...,SeatUniqueID,Season,ClubExpYear,Tenure,UniqueID,isAttended,Resold,ResalePrice,ResaleDate,isSTM
0,117948790,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,1,FR,...,101-10-1,2021,NaN,25.0,CLT21HOU-101-10-1,Yes,NaN,NaN,NaN,NaN
1,126665090,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,10,FR,...,101-10-10,2021,NaN,20.0,CLT21HOU-101-10-10,No,NaN,NaN,NaN,NaN
2,126665090,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,11,FR,...,101-10-11,2021,NaN,20.0,CLT21HOU-101-10-11,No,NaN,NaN,NaN,NaN
3,1489599590,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,12,FR,...,101-10-12,2021,NaN,4.0,CLT21HOU-101-10-12,Yes,NaN,NaN,NaN,NaN
4,115101990,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,13,FR,...,101-10-13,2021,NaN,32.0,CLT21HOU-101-10-13,No,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1286911,1831131890,Season,CLT22WAS,2022-10-30,22FS,Not Comp,646,9,5,RN,...,646-9-5,2022,NaN,0.0,CLT22WAS-646-9-5,No,Yes,50.0,2022-09-11 00:00:00,1.0
1286912,1831131890,Season,CLT22WAS,2022-10-30,22FS,Not Comp,646,9,6,RN,...,646-9-6,2022,NaN,0.0,CLT22WAS-646-9-6,Yes,NaN,NaN,NaN,1.0
1286913,1246180690,Sponsor,CLT22WAS,2022-10-30,22FS8,Not Comp,646,9,7,RR,...,646-9-7,2022,NaN,8.0,CLT22WAS-646-9-7,Yes,NaN,NaN,NaN,NaN
1286914,1246180690,Sponsor,CLT22WAS,2022-10-30,22FS8,Not Comp,646,9,8,RR,...,646-9-8,2022,NaN,8.0,CLT22WAS-646-9-8,Yes,NaN,NaN,NaN,NaN
1286915,1246180690,Sponsor,CLT22WAS,2022-10-30,22FS8,Not Comp,646,9,9,RR,...,646-9-9,2022,NaN,8.0,CLT22WAS-646-9-9,Yes,NaN,NaN,NaN,NaN

In [22]:
col = data_.columns

In [23]:
len(col)

34

In [18]:
data_.Sales_Source.value_counts()

9.0        2330
9490.0     1144
9454.0      800
10478.0     330
10468.0     182
           ...
10593.0       1
4256.0        1
7466.0        1
10436.0       1
10501.0       1
Name: Sales_Source, Length: 123, dtype: int64

In [26]:
df = data_.loc[data_['acct_id'] == 190]

In [27]:
df.head()

,acct_id,acct_type_desc,event_name,event_date,plan_event_name,comp_name,section_name,row_name,SeatNum,price_code,...,SeatUniqueID,Season,ClubExpYear,Tenure,UniqueID,isAttended,Resold,ResalePrice,ResaleDate,isSTM
114,190,NaN,CLT21HOU,2021-10-17,NaN,NaN,101,15,13,FS03,...,101-15-13,2021,NaN,NaN,CLT21HOU-101-15-13,No,NaN,NaN,NaN,NaN
115,190,NaN,CLT21HOU,2021-10-17,NaN,NaN,101,15,14,FS03,...,101-15-14,2021,NaN,NaN,CLT21HOU-101-15-14,No,NaN,NaN,NaN,NaN
710,190,NaN,CLT21HOU,2021-10-17,NaN,NaN,101,SR1,1,Y,...,101-SR1-1,2021,NaN,NaN,CLT21HOU-101-SR1-1,No,NaN,NaN,NaN,NaN
711,190,NaN,CLT21HOU,2021-10-17,NaN,NaN,101,SR1,10,Y,...,101-SR1-10,2021,NaN,NaN,CLT21HOU-101-SR1-10,No,NaN,NaN,NaN,NaN
712,190,NaN,CLT21HOU,2021-10-17,NaN,NaN,101,SR1,11,Y,...,101-SR1-11,2021,NaN,NaN,CLT21HOU-101-SR1-11,No,NaN,NaN,NaN,NaN

In [21]:
column_check = data_.columns


for i in column_check:
    print("*" * 50)
    print(" " * 5 + i)
    print(data_[i].value_counts(dropna=False))
    print("*" * 50)
    print("\n")

**************************************************
     acct_id
190            69761
1188495790     55208
1828698990     15186
0190           10883
01188495790     9118
               ...
1737461090         1
1739385390         1
1689719990         1
1698644490         1
1793072290         1
Name: acct_id, Length: 66641, dtype: int64
**************************************************


**************************************************
     acct_type_desc
Season             698928
Club               149042
House              125348
NaN                 91418
Personal            80683
Sponsor             50312
Group               30123
Employee            29764
Comp                10511
Suite                6759
Player               4660
Opponents            3697
Single Game          2568
Group NEW            1305
Huntington 2021       460
Huntington 2019       383
Huntington 2022       336
SG Suite              158
Huntington 2016        92
Huntington 2014        73
Huntington 2015        72
Huntington             48
Huntington 2017        47
Huntington 2018        44
IU 2022                31
Kids Club              19
NONRENEWAL             15
Hold Account            8
Window Account          8
Hold                    2
Premium                 2
Name: acct_type_desc, dtype: int64
**************************************************


**************************************************
     event_name
CLT21HOU    64346
CLT21JAX    64346
CLT22TEN    64346
CLT22PR2    64346
CLT22PR1    64346
CLT22PIT    64346
CLT22PHI    64346
CLT22LAC    64346
CLT22KC     64346
CLT22JAX    64346
CLT22WAS    64346
CLT21TEN    64346
CLT21TB     64346
CLT21SEA    64346
CLT21PRE    64346
CLT21NYJ    64346
CLT21NE     64346
CLT21LV     64346
CLT21LAR    64346
CLT22HOU    64342
Name: event_name, dtype: int64
**************************************************


**************************************************
     event_date
2021-10-17    64346
2021-11-14    64346
2022-10-02    64346
2022-08-27    64346
2022-08-20    64346
2022-11-28    64346
2022-11-20    64346
2022-12-26    64346
2022-09-25    64346
2022-10-16    64346
2022-10-30    64346
2021-10-31    64346
2021-11-28    64346
2021-09-12    64346
2021-08-15    64346
2021-11-04    64346
2021-12-18    64346
2022-01-02    64346
2021-09-19    64346
2023-01-08    64342
Name: event_date, dtype: int64
**************************************************


**************************************************
     plan_event_name
22FS        504397
21FS        478282
NaN         279172
22FS8        21784
21FS9         1974
22MPACK       1259
22FS9           36
22MPACK2        12
Name: plan_event_name, dtype: int64
**************************************************


**************************************************
     comp_name
Not Comp                        1154265
NaN                               80644
Front Office/Club Staff           11747
Promotions                         8077
Charity/Community Relations        5720
Youth Football                     3714
Covid-19                           3388
Sales Prospecting                  3146
Miscellaneous                      3097
Players                            2778
Coaches & Trainers                 2222
Military                           1979
Sponsors                           1014
Game Entertainment                 1014
Stadium Personnel                  1004
VIP/Local Dignitaries               974
Media                               852
archiveBusiness                     584
Game Official and Chain Crew        373
Customer Service                    107
Ownership Guests                     81
Club Alumni                          79
League Employees                     57
Name: comp_name, dtype: int64
**************************************************


**************************************************
     section_name
152    17600
102    16440
101    16200
153    15980
628    13520
       ...
511      720
515      720
538      720
303      240
350      240
Name: section_name, Length: 249, dtype: int64
**************************************************


**************************************************
     row_name
2      80040
1      75260
5      68080
9      66980
10     64440
       ...
34N      440
36N      420
23W      400
7N        80
6N        80
Name: row_name, Length: 67, dtype: int64
**************************************************


**************************************************
     SeatNum
8     61880
9     61220
2     60960
1     60920
3     60740
4     60680
10    60520
5     60480
6     60480
7     60400
11    59500
12    58720
13    56640
14    54540
15    52180
16    50660
17    47759
18    45479
19    44179
20    42539
21    36780
22    34680
23    30480
24    29120
25     8260
26     5020
27     3840
28     2940
29     2020
30     1440
31     1340
32     1180
33      980
34      940
35      660
36      640
37      600
38      580
39      500
40      440
41      400
42      400
43      400
44      400
45      400
46      400
47      400
48      400
49      400
50      400
Name: SeatNum, dtype: int64
**************************************************


**************************************************
     price_code
FR      128165
GR       75993
DR       57915
BR       56200
JR       38007
         ...
ES09         1
8SW4         1
SSI7         1
NS09         1
9SI4         1
Name: price_code, Length: 1189, dtype: int64
**************************************************


**************************************************
     PC1
F    163920
G     98680
D     80060
R     71966
B     70960
5     64300
J     61380
T     61203
P     54594
S     51030
L     50505
K     49700
A     45200
I     43858
U     43450
N     40620
C     31880
8     31650
6     27730
Q     25730
M     19200
O     19030
7     15840
W     11700
Y     10000
E      8960
H      7400
V      7140
X      7049
Z      6821
9      5360
Name: PC1, dtype: int64
**************************************************


**************************************************
     Price
0.0      52009
89.0     26525
124.0    25705
111.0    25483
123.0    25221
         ...
568.0        1
600.0        1
661.0        1
676.0        1
510.0        1
Name: Price, Length: 486, dtype: int64
**************************************************


**************************************************
     paid
Y      1075571
NaN     154145
N        56686
P          514
Name: paid, dtype: int64
**************************************************


**************************************************
     add_datetime
NaN                    80644
2021-05-05 19:53:36    49600
2021-02-04 12:38:05    23668
2021-04-20 15:57:47    13740
2022-07-01 10:11:06    12456
                       ...
2022-08-07 18:48:39        1
2021-09-12 12:40:35        1
2021-12-14 09:40:56        1
2021-12-14 09:40:21        1
2021-09-12 14:28:46        1
Name: add_datetime, Length: 68992, dtype: int64
**************************************************


**************************************************
     class_name
OPEN                648284
JIM IRSAY           115607
DIST-OPEN           114580
ACCOUNT MANAGER     104400
ACCMAN RELO          80536
GROUP                44491
VT SELL              31323
EVENTS               25341
DOQ-BRDCSTHOLD       19296
XTEST                18000
SEASON               13677
OBSTRUCTED           12549
PLAYERS              10402
SPINZO1               8688
SPONSORS              7982
SPINZO2               6219
VISITING TEAM         3572
ADA                   3249
TICKET OPS            3161
SINGLE GAME SRO       2000
HUNTINGTON            1918
COACH                 1686
ROMINE                1668
UNTOUCHABLE           1406
KILL SEATS            1117
SINGLE GAME HOLD      1030
ADA INF                692
BROADCAST              691
INDIANA                626
MEGAN                  528
GROUP MANAGER          421
GA_MINICAMP            355
GENTILE                266
JODY                   258
GREG                   236
DIST-DHOLD             186
OWNERSHIP              142
HANNAH                 109
NO HOLD                 90
MISC                    40
WAIT WEB                20
OB2                     17
DOQ-WHEELCHAIR          16
DDQ-BRDCSTHOLD          14
ABBEY                   13
DIST-EXCP                9
DIST-WIP                 4
DIST-7HOLD               1
Name: class_name, dtype: int64
**************************************************


**************************************************
     status
SOLD     1154265
AVAIL      80345
COMP       52007
HELD         299
Name: status, dtype: int64
**************************************************


**************************************************
     Sales_Source
NaN        1280704
9.0           2330
9490.0        1144
9454.0         800
10478.0        330
            ...
10600.0          1
10593.0          1
4256.0           1
10503.0          1
10436.0          1
Name: Sales_Source, Length: 124, dtype: int64
**************************************************


**************************************************
     isHost
0    1213415
1      73501
Name: isHost, dtype: int64
**************************************************


**************************************************
     SeatType
GA      1142036
Club     144880
Name: SeatType, dtype: int64
**************************************************


**************************************************
     TicketClass
Manifest           1190726
Infill               47140
SRO                  20097
ADA                  15180
Obstructed View       6952
Obstruct              6821
Name: TicketClass, dtype: int64
**************************************************


**************************************************
     Start Year
NaN       1146325
2021.0      53018
2019.0      29487
2022.0      24028
2016.0      19818
2017.0      14240
Name: Start Year, dtype: int64
**************************************************


**************************************************
     LastYear
NaN       1146325
2023.0      52488
2022.0      42705
2024.0      25260
2021.0      20138
Name: LastYear, dtype: int64
**************************************************


**************************************************
     Term
NaN    1146445
3.0      97871
5.0      38620
1.0       3570
2.0        390
4.0         20
Name: Term, dtype: int64
**************************************************


**************************************************
     TicketType
Renewal             602807
New                 132910
Broker              120860
Existing             99737
SingleGame           76394
Comp                 52007
Sponsor              51191
Group                48725
SingleGm Avail       35346
SRO Avail            18000
Obstructed Avail     10361
Employee              9896
Other Avail           5623
Opponents             3697
Season Avail          3452
Group Avail           3434
Internal Use          2981
Upgrade               2820
Marketing             1983
Player                1933
ADA Avail             1142
FlexPack               793
Other SOLD             404
Held                   299
Other                  115
Premium Avail            6
Name: TicketType, dtype: int64
**************************************************


**************************************************
     SeatUniqueID
101-10-1     20
453-20-16    20
453-2-4      20
453-2-5      20
453-2-6      20
             ..
218-8-25     20
616-19-19    19
616-19-17    19
616-19-20    19
616-19-18    19
Name: SeatUniqueID, Length: 64346, dtype: int64
**************************************************


**************************************************
     Season
2021    643460
2022    643456
Name: Season, dtype: int64
**************************************************


**************************************************
     ClubExpYear
NaN       1146325
2023.0      52488
2022.0      42705
2024.0      25260
2021.0      20138
Name: ClubExpYear, dtype: int64
**************************************************


**************************************************
     Tenure
1.0     154387
0.0     144025
NaN      91418
9.0      88612
3.0      83985
38.0     82738
2.0      51876
4.0      51265
18.0     43920
17.0     40057
10.0     31494
8.0      29003
15.0     28595
16.0     27564
12.0     23111
19.0     21899
22.0     21395
5.0      20722
7.0      19827
13.0     17025
14.0     15843
6.0      15756
20.0     15663
24.0     15397
37.0     13358
21.0     12660
26.0     12513
11.0     12391
27.0     11694
34.0     11519
23.0     10801
28.0     10764
36.0     10700
25.0      9380
29.0      8156
30.0      6992
33.0      6527
31.0      5239
35.0      4372
32.0      4273
Name: Tenure, dtype: int64
**************************************************


**************************************************
     UniqueID
CLT21HOU-101-10-1     1
CLT22LAC-220-11-20    1
CLT22LAC-220-11-8     1
CLT22LAC-220-11-7     1
CLT22LAC-220-11-6     1
                     ..
CLT21PRE-453-20-11    1
CLT21PRE-453-20-10    1
CLT21PRE-453-20-1     1
CLT21PRE-453-2-9      1
CLT22WAS-646-9-9      1
Name: UniqueID, Length: 1286916, dtype: int64
**************************************************


**************************************************
     isAttended
Yes    900945
No     257283
???    128688
Name: isAttended, dtype: int64
**************************************************


**************************************************
     Resold
NaN    1140868
Yes     103987
1.0      41696
1          365
Name: Resold, dtype: int64
**************************************************


**************************************************
     ResalePrice
NaN       1141991
100.00       2512
150.00       2250
200.00       2199
50.00        1988
           ...
209.28          1
132.91          1
327.07          1
27.78           1
66.16           1
Name: ResalePrice, Length: 7554, dtype: int64
**************************************************


**************************************************
     ResaleDate
NaN                    1140868
2022-08-27 00:00:00       2547
2022-11-28 00:00:00       2389
2022-12-26 00:00:00       1919
2022-05-13 00:00:00       1887
                        ...
2021-08-21 16:50:36          1
2021-08-20 09:02:36          1
2021-11-22 00:01:43          1
2021-10-08 02:33:08          1
2021-11-10 12:16:36          1
Name: ResaleDate, Length: 20743, dtype: int64
**************************************************


**************************************************
     isSTM
NaN    900104
1.0    386812
Name: isSTM, dtype: int64
**************************************************