In [303]:
import pandas as pd
import numpy as np

In [371]:
data_dict = pd.read_excel("/Users/ashapondicherry/Desktop/Cross Road Analytics Competition/Colts Ticketing Data Dictionary.xlsx")
colts_data = pd.read_csv("/Users/ashapondicherry/Desktop/Cross Road Analytics Competition/Cross Road Analytics Competition Dataset.csv", sep = ",", header=0, encoding = "utf-8")
colts_data

/var/folders/hv/t48xy_252t7633xlnzl9z7540000gn/T/ipykernel_6614/3526024405.py:2: DtypeWarning: Columns (0,30) have mixed types. Specify dtype option on import or set low_memory=False.
  colts_data = pd.read_csv("/Users/ashapondicherry/Desktop/Cross Road Analytics Competition/Cross Road Analytics Competition Dataset.csv", sep = ",", header=0, encoding = "utf-8")

,acct_id,acct_type_desc,event_name,event_date,plan_event_name,comp_name,section_name,row_name,SeatNum,price_code,...,SeatUniqueID,Season,ClubExpYear,Tenure,UniqueID,isAttended,Resold,ResalePrice,ResaleDate,isSTM
0,117948790,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,1,FR,...,101-10-1,2021,NaN,25.0,CLT21HOU-101-10-1,Yes,NaN,NaN,NaN,NaN
1,126665090,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,10,FR,...,101-10-10,2021,NaN,20.0,CLT21HOU-101-10-10,No,NaN,NaN,NaN,NaN
2,126665090,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,11,FR,...,101-10-11,2021,NaN,20.0,CLT21HOU-101-10-11,No,NaN,NaN,NaN,NaN
3,1489599590,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,12,FR,...,101-10-12,2021,NaN,4.0,CLT21HOU-101-10-12,Yes,NaN,NaN,NaN,NaN
4,115101990,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,13,FR,...,101-10-13,2021,NaN,32.0,CLT21HOU-101-10-13,No,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1286911,1831131890,Season,CLT22WAS,2022-10-30,22FS,Not Comp,646,9,5,RN,...,646-9-5,2022,NaN,0.0,CLT22WAS-646-9-5,No,Yes,50.0,2022-09-11 00:00:00,1.0
1286912,1831131890,Season,CLT22WAS,2022-10-30,22FS,Not Comp,646,9,6,RN,...,646-9-6,2022,NaN,0.0,CLT22WAS-646-9-6,Yes,NaN,NaN,NaN,1.0
1286913,1246180690,Sponsor,CLT22WAS,2022-10-30,22FS8,Not Comp,646,9,7,RR,...,646-9-7,2022,NaN,8.0,CLT22WAS-646-9-7,Yes,NaN,NaN,NaN,NaN
1286914,1246180690,Sponsor,CLT22WAS,2022-10-30,22FS8,Not Comp,646,9,8,RR,...,646-9-8,2022,NaN,8.0,CLT22WAS-646-9-8,Yes,NaN,NaN,NaN,NaN
1286915,1246180690,Sponsor,CLT22WAS,2022-10-30,22FS8,Not Comp,646,9,9,RR,...,646-9-9,2022,NaN,8.0,CLT22WAS-646-9-9,Yes,NaN,NaN,NaN,NaN

In [372]:
colts_data.columns

Index(['acct_id', 'acct_type_desc', 'event_name', 'event_date',
       'plan_event_name', 'comp_name', 'section_name', 'row_name', 'SeatNum',
       'price_code', 'PC1', 'Price', 'paid', 'add_datetime', 'class_name',
       'status', 'Sales_Source', 'isHost', 'SeatType', 'TicketClass',
       'Start Year', 'LastYear', 'Term', 'TicketType', 'SeatUniqueID',
       'Season', 'ClubExpYear', 'Tenure', 'UniqueID', 'isAttended', 'Resold',
       'ResalePrice', 'ResaleDate', 'isSTM'],
      dtype='object')

In [351]:
# change date to numeric - categorical int
# week number of the game 
# opponent to a numeric
# light gbm - binary classifier with categorical features

In [352]:
len(col)

34

In [373]:
print(sorted(colts_data.event_date.unique()))

['2021-08-15', '2021-09-12', '2021-09-19', '2021-10-17', '2021-10-31', '2021-11-04', '2021-11-14', '2021-11-28', '2021-12-18', '2022-01-02', '2022-08-20', '2022-08-27', '2022-09-25', '2022-10-02', '2022-10-16', '2022-10-30', '2022-11-20', '2022-11-28', '2022-12-26', '2023-01-08']

In [374]:
def which_season(check_date):
    if check_date in ['2021-08-15','2022-08-20','2022-08-27']:
        return "pre_season"
    else:
        return "regular_season"

Created a derived column - season_type which differentiate pre-season and regular season games

In [375]:
colts_data['season_type'] = colts_data.event_date.apply(which_season)

In [376]:
colts_data.head()

,acct_id,acct_type_desc,event_name,event_date,plan_event_name,comp_name,section_name,row_name,SeatNum,price_code,...,Season,ClubExpYear,Tenure,UniqueID,isAttended,Resold,ResalePrice,ResaleDate,isSTM,season_type
0,117948790,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,1,FR,...,2021,NaN,25.0,CLT21HOU-101-10-1,Yes,NaN,NaN,NaN,NaN,regular_season
1,126665090,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,10,FR,...,2021,NaN,20.0,CLT21HOU-101-10-10,No,NaN,NaN,NaN,NaN,regular_season
2,126665090,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,11,FR,...,2021,NaN,20.0,CLT21HOU-101-10-11,No,NaN,NaN,NaN,NaN,regular_season
3,1489599590,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,12,FR,...,2021,NaN,4.0,CLT21HOU-101-10-12,Yes,NaN,NaN,NaN,NaN,regular_season
4,115101990,Season,CLT21HOU,2021-10-17,21FS,Not Comp,101,10,13,FR,...,2021,NaN,32.0,CLT21HOU-101-10-13,No,NaN,NaN,NaN,NaN,regular_season

In [377]:
colts_data.season_type.value_counts()

regular_season    1093878
pre_season         193038
Name: season_type, dtype: int64

In [378]:
colts_data.event_name.unique()

array(['CLT21HOU', 'CLT21JAX', 'CLT21LAR', 'CLT21LV', 'CLT21NE',
       'CLT21NYJ', 'CLT21PRE', 'CLT21SEA', 'CLT21TB', 'CLT21TEN',
       'CLT22HOU', 'CLT22JAX', 'CLT22KC', 'CLT22LAC', 'CLT22PHI',
       'CLT22PIT', 'CLT22PR1', 'CLT22PR2', 'CLT22TEN', 'CLT22WAS'],
      dtype=object)

In [379]:
min(colts_data['event_date'])

'2021-08-15'

In [83]:
# column_check = data_.columns


# for i in column_check:
#     print("*" * 50)
#     print(" " * 5 + i)
#     print(data_[i].value_counts(dropna=False))
#     print("*" * 50)
#     print("\n")

In [380]:
elo_scores = pd.read_csv("/Users/ashapondicherry/Desktop/Cross Road Analytics Competition/nfl-elo/nfl_elo.csv", sep = ",", header=0, encoding = "utf-8")

In [381]:
elo_scores.columns

Index(['date', 'season', 'neutral', 'playoff', 'team1', 'team2', 'elo1_pre',
       'elo2_pre', 'elo_prob1', 'elo_prob2', 'elo1_post', 'elo2_post',
       'qbelo1_pre', 'qbelo2_pre', 'qb1', 'qb2', 'qb1_value_pre',
       'qb2_value_pre', 'qb1_adj', 'qb2_adj', 'qbelo_prob1', 'qbelo_prob2',
       'qb1_game_value', 'qb2_game_value', 'qb1_value_post', 'qb2_value_post',
       'qbelo1_post', 'qbelo2_post', 'score1', 'score2', 'quality',
       'importance', 'total_rating'],
      dtype='object')

In [382]:
elo_scores= elo_scores.loc[elo_scores['date'] >= '2021-09-12']
elo_scores

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2,quality,importance,total_rating
16811,2021-09-12,2021,0,NaN,WSH,LAC,1463.233796,1496.945335,0.544906,0.455094,...,180.052331,171.227203,190.527453,1470.366598,1536.723479,16.0,20.0,58.0,64.0,61.0
16812,2021-09-12,2021,0,NaN,TEN,ARI,1553.397217,1486.436956,0.681272,0.318728,...,302.017311,190.370826,225.696909,1489.651053,1528.361042,13.0,38.0,56.0,56.0,56.0
16813,2021-09-12,2021,0,NaN,DET,SF,1390.645249,1490.665951,0.449771,0.550229,...,175.216924,171.513676,132.495404,1355.200609,1562.414869,33.0,41.0,23.0,43.0,33.0
16814,2021-09-12,2021,0,NaN,CAR,NYJ,1436.539318,1381.747500,0.665873,0.334127,...,-8.498819,116.688831,100.353462,1470.504096,1380.536121,19.0,14.0,12.0,35.0,24.0
16815,2021-09-12,2021,0,NaN,CIN,MIN,1412.119826,1494.522721,0.474976,0.525024,...,283.256583,154.384747,208.346744,1441.243406,1487.591981,27.0,24.0,33.0,54.0,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17372,2023-01-21,2022,0,d,KC,JAX,1729.387104,1523.025655,0.826652,0.173348,...,101.957586,281.104977,177.484211,1697.318250,1514.927124,27.0,20.0,93.0,100.0,97.0
17373,2023-01-21,2022,0,d,PHI,NYG,1605.581893,1485.761956,0.743437,0.256563,...,-38.009000,256.743616,185.680334,1619.567823,1483.583812,38.0,7.0,87.0,100.0,94.0
17374,2023-01-22,2022,0,d,BUF,CIN,1731.516093,1690.292481,0.648277,0.351723,...,303.726984,225.069808,230.466056,1675.570770,1690.152492,10.0,27.0,99.0,100.0,100.0
17375,2023-01-22,2022,0,d,SF,DAL,1708.971847,1640.135262,0.683613,0.316387,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.0,100.0,99.0
17376,2023-01-29,2022,0,c,KC,CIN,1735.804844,1729.668918,0.600966,0.399034,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.0,100.0,100.0

Elo rating says how strong a team is

* date -> Date of game
* season -> Year of season
* team1 -> Abbreviation for home team
* team2 -> Abbreviation for away team
* elo1_pre -> Home team's Elo rating before the game
* elo2_pre -> Away team's Elo rating before the game
* elo_prob1 -> Home team's probability of winning according to Elo ratings
* elo_prob2 -> Away team's probability of winning according to Elo ratings
* elo1_post -> Home team's Elo rating after the game
* elo2_post -> Away team's Elo rating after the game
* score1 -> Home team's score
* score2 -> Away team's score
* total_rating -> The average of quality and importance

In [383]:
elo_scores_final_df = elo_scores[['date','season','team1', 'team2','elo1_pre','elo2_pre', 'elo_prob1', 'elo_prob2','elo1_post','elo2_post','score1','score2','total_rating']]

In [384]:
elo_scores_final_df

,date,season,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,elo2_post,score1,score2,total_rating
16811,2021-09-12,2021,WSH,LAC,1463.233796,1496.945335,0.544906,0.455094,1445.440885,1514.738246,16.0,20.0,61.0
16812,2021-09-12,2021,TEN,ARI,1553.397217,1486.436956,0.681272,0.318728,1506.171519,1533.662654,13.0,38.0,56.0
16813,2021-09-12,2021,DET,SF,1390.645249,1490.665951,0.449771,0.550229,1371.189983,1510.121217,33.0,41.0,33.0
16814,2021-09-12,2021,CAR,NYJ,1436.539318,1381.747500,0.665873,0.334127,1447.894527,1370.392291,19.0,14.0,24.0
16815,2021-09-12,2021,CIN,MIN,1412.119826,1494.522721,0.474976,0.525024,1426.792646,1479.849901,27.0,24.0,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17372,2023-01-21,2022,KC,JAX,1729.387104,1523.025655,0.826652,0.173348,1735.804844,1516.607914,27.0,20.0,97.0
17373,2023-01-21,2022,PHI,NYG,1605.581893,1485.761956,0.743437,0.256563,1621.987292,1469.356557,38.0,7.0,94.0
17374,2023-01-22,2022,BUF,CIN,1731.516093,1690.292481,0.648277,0.351723,1692.139657,1729.668918,10.0,27.0,100.0
17375,2023-01-22,2022,SF,DAL,1708.971847,1640.135262,0.683613,0.316387,NaN,NaN,NaN,NaN,99.0
17376,2023-01-29,2022,KC,CIN,1735.804844,1729.668918,0.600966,0.399034,NaN,NaN,NaN,NaN,100.0

In [386]:
elo_scores_final_df = elo_scores_final_df.loc[elo_scores_final_df['team1'] == 'IND']

In [387]:
elo_scores_final_df

,date,season,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,elo2_post,score1,score2,total_rating
16818,2021-09-12,2021,IND,SEA,1561.490084,1565.751134,0.586531,0.413469,1530.547371,1596.693848,16.0,28.0,67.0
16834,2021-09-19,2021,IND,LAR,1530.547371,1589.366076,0.508895,0.491105,1516.398060,1603.515387,24.0,27.0,65.0
16898,2021-10-17,2021,IND,HOU,1517.382630,1383.367555,0.758711,0.241289,1532.284452,1368.465733,31.0,3.0,8.0
16919,2021-10-31,2021,IND,TEN,1559.551835,1588.376095,0.551874,0.448126,1543.994834,1603.933096,31.0,34.0,80.0
16932,2021-11-04,2021,IND,NYJ,1543.994834,1342.189211,0.822862,0.177138,1552.755072,1333.428973,45.0,30.0,16.0
16947,2021-11-14,2021,IND,JAX,1552.755072,1314.822170,0.851172,0.148828,1557.846168,1309.731075,23.0,17.0,16.0
16980,2021-11-28,2021,IND,TB,1609.708204,1633.913220,0.558440,0.441560,1586.044522,1657.576902,31.0,38.0,80.0
17019,2021-12-18,2021,IND,NE,1603.908558,1642.144980,0.538440,0.461560,1625.777967,1620.275570,27.0,17.0,95.0
17053,2022-01-02,2021,IND,OAK,1644.170419,1463.992480,0.803980,0.196020,1619.083568,1489.079330,20.0,23.0,62.0
17132,2022-09-25,2022,IND,KC,1493.184163,1660.130136,0.357358,0.642642,1511.867753,1641.446546,20.0,17.0,65.0
17153,2022-10-02,2022,IND,TEN,1511.867753,1532.460559,0.563561,0.436439,1487.947054,1556.381257,17.0,24.0,69.0
17181,2022-10-16,2022,IND,JAX,1502.903890,1403.368359,0.720540,0.279460,1513.717555,1392.554694,34.0,27.0,57.0
17214,2022-10-30,2022,IND,WSH,1499.120557,1436.168716,0.676241,0.323759,1489.166966,1446.122306,16.0,17.0,29.0
17248,2022-11-20,2022,IND,PHI,1486.671471,1587.173234,0.449086,0.550914,1480.544687,1593.300018,16.0,17.0,82.0
17274,2022-11-28,2022,IND,PIT,1480.544687,1443.592645,0.642650,0.357350,1452.518871,1471.618461,17.0,24.0,18.0
17334,2022-12-26,2022,IND,LAC,1434.151660,1494.567293,0.506597,0.493403,1404.805432,1523.913521,3.0,20.0,26.0
17359,2023-01-08,2022,IND,HOU,1381.436605,1301.724081,0.696996,0.303004,1371.093864,1312.066823,31.0,32.0,0.0

In [388]:
elo_scores_final_df = elo_scores_final_df.replace({'team1': {'IND':'CLT'}, 'team2' : {'OAK':'LV', 'WSH':'WAS'}})

In [389]:
elo_scores_final_df

,date,season,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,elo2_post,score1,score2,total_rating
16818,2021-09-12,2021,CLT,SEA,1561.490084,1565.751134,0.586531,0.413469,1530.547371,1596.693848,16.0,28.0,67.0
16834,2021-09-19,2021,CLT,LAR,1530.547371,1589.366076,0.508895,0.491105,1516.398060,1603.515387,24.0,27.0,65.0
16898,2021-10-17,2021,CLT,HOU,1517.382630,1383.367555,0.758711,0.241289,1532.284452,1368.465733,31.0,3.0,8.0
16919,2021-10-31,2021,CLT,TEN,1559.551835,1588.376095,0.551874,0.448126,1543.994834,1603.933096,31.0,34.0,80.0
16932,2021-11-04,2021,CLT,NYJ,1543.994834,1342.189211,0.822862,0.177138,1552.755072,1333.428973,45.0,30.0,16.0
16947,2021-11-14,2021,CLT,JAX,1552.755072,1314.822170,0.851172,0.148828,1557.846168,1309.731075,23.0,17.0,16.0
16980,2021-11-28,2021,CLT,TB,1609.708204,1633.913220,0.558440,0.441560,1586.044522,1657.576902,31.0,38.0,80.0
17019,2021-12-18,2021,CLT,NE,1603.908558,1642.144980,0.538440,0.461560,1625.777967,1620.275570,27.0,17.0,95.0
17053,2022-01-02,2021,CLT,LV,1644.170419,1463.992480,0.803980,0.196020,1619.083568,1489.079330,20.0,23.0,62.0
17132,2022-09-25,2022,CLT,KC,1493.184163,1660.130136,0.357358,0.642642,1511.867753,1641.446546,20.0,17.0,65.0
17153,2022-10-02,2022,CLT,TEN,1511.867753,1532.460559,0.563561,0.436439,1487.947054,1556.381257,17.0,24.0,69.0
17181,2022-10-16,2022,CLT,JAX,1502.903890,1403.368359,0.720540,0.279460,1513.717555,1392.554694,34.0,27.0,57.0
17214,2022-10-30,2022,CLT,WAS,1499.120557,1436.168716,0.676241,0.323759,1489.166966,1446.122306,16.0,17.0,29.0
17248,2022-11-20,2022,CLT,PHI,1486.671471,1587.173234,0.449086,0.550914,1480.544687,1593.300018,16.0,17.0,82.0
17274,2022-11-28,2022,CLT,PIT,1480.544687,1443.592645,0.642650,0.357350,1452.518871,1471.618461,17.0,24.0,18.0
17334,2022-12-26,2022,CLT,LAC,1434.151660,1494.567293,0.506597,0.493403,1404.805432,1523.913521,3.0,20.0,26.0
17359,2023-01-08,2022,CLT,HOU,1381.436605,1301.724081,0.696996,0.303004,1371.093864,1312.066823,31.0,32.0,0.0

In [390]:
elo_scores_final_df['year'] = elo_scores_final_df['season'].astype(str).str[-2:].astype(int)

In [392]:
elo_scores_final_df['event_name'] = elo_scores_final_df['team1']+elo_scores_final_df['year'].astype(str)+elo_scores_final_df['team2']

In [393]:
elo_scores_final_df = elo_scores_final_df.drop(columns=['year', 'season','team1','team2'])

In [395]:
elo_scores_final_df['season_type']= 'regular_season'

In [396]:
elo_scores_final_df

,date,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,elo2_post,score1,score2,total_rating,event_name,season_type
16818,2021-09-12,1561.490084,1565.751134,0.586531,0.413469,1530.547371,1596.693848,16.0,28.0,67.0,CLT21SEA,regular_season
16834,2021-09-19,1530.547371,1589.366076,0.508895,0.491105,1516.398060,1603.515387,24.0,27.0,65.0,CLT21LAR,regular_season
16898,2021-10-17,1517.382630,1383.367555,0.758711,0.241289,1532.284452,1368.465733,31.0,3.0,8.0,CLT21HOU,regular_season
16919,2021-10-31,1559.551835,1588.376095,0.551874,0.448126,1543.994834,1603.933096,31.0,34.0,80.0,CLT21TEN,regular_season
16932,2021-11-04,1543.994834,1342.189211,0.822862,0.177138,1552.755072,1333.428973,45.0,30.0,16.0,CLT21NYJ,regular_season
16947,2021-11-14,1552.755072,1314.822170,0.851172,0.148828,1557.846168,1309.731075,23.0,17.0,16.0,CLT21JAX,regular_season
16980,2021-11-28,1609.708204,1633.913220,0.558440,0.441560,1586.044522,1657.576902,31.0,38.0,80.0,CLT21TB,regular_season
17019,2021-12-18,1603.908558,1642.144980,0.538440,0.461560,1625.777967,1620.275570,27.0,17.0,95.0,CLT21NE,regular_season
17053,2022-01-02,1644.170419,1463.992480,0.803980,0.196020,1619.083568,1489.079330,20.0,23.0,62.0,CLT21LV,regular_season
17132,2022-09-25,1493.184163,1660.130136,0.357358,0.642642,1511.867753,1641.446546,20.0,17.0,65.0,CLT22KC,regular_season
17153,2022-10-02,1511.867753,1532.460559,0.563561,0.436439,1487.947054,1556.381257,17.0,24.0,69.0,CLT22TEN,regular_season
17181,2022-10-16,1502.903890,1403.368359,0.720540,0.279460,1513.717555,1392.554694,34.0,27.0,57.0,CLT22JAX,regular_season
17214,2022-10-30,1499.120557,1436.168716,0.676241,0.323759,1489.166966,1446.122306,16.0,17.0,29.0,CLT22WAS,regular_season
17248,2022-11-20,1486.671471,1587.173234,0.449086,0.550914,1480.544687,1593.300018,16.0,17.0,82.0,CLT22PHI,regular_season
17274,2022-11-28,1480.544687,1443.592645,0.642650,0.357350,1452.518871,1471.618461,17.0,24.0,18.0,CLT22PIT,regular_season
17334,2022-12-26,1434.151660,1494.567293,0.506597,0.493403,1404.805432,1523.913521,3.0,20.0,26.0,CLT22LAC,regular_season
17359,2023-01-08,1381.436605,1301.724081,0.696996,0.303004,1371.093864,1312.066823,31.0,32.0,0.0,CLT22HOU,regular_season

* OAK is LV (season data) that is Las Vegas Raiders 
* WSH is WAS (season data)

In [399]:
df = colts_data.loc[colts_data['season_type'] == 'pre_season']

In [401]:
df.event_date.unique()

array(['2021-08-15', '2022-08-20', '2022-08-27'], dtype=object)